.home section {
	display: flex;
	flex-direction: column;
	height: 85%;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	text-align: center;
	margin-top: 20px;
}

.links {
	display: flex;
	flex-direction: column;
}

.suggestion {
	padding: 1rem;
	border-radius: 1rem;
	background-color: #42484d;
	font-size: 1.5rem;
	/* Maybe should set a max width */
}

p {
	font-size: 1.5rem;
}

.suggestion:hover {
	cursor: pointer;
}

.cta {
	display: inline-block; /* Keep this if you prefer */
	margin-bottom: 1rem; /* Adds space between links */
}
