.container {
	display: grid;
	align-items: baseline;
	justify-items: center;
	grid-template-columns: 1fr 4fr 1fr;
}

.leftCol {
	justify-self: start;
	grid-column: 1;
	max-width: 40px;
}
.middleCol {
	text-align: center;
	grid-column: 2;
}

.rightCol {
	justify-self: end;
	grid-column: 3;
	max-width: 40px;
}
