.historyPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	max-width: 100%;
}

.description {
	margin: 5px;
	font-size: 3.5rem;
	color: white;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subDescription {
	margin: 5px;
	font-size: 1.3rem;
	color: white;
	padding-bottom: 5px;
}

.workoutCount {
	margin: 10px 0;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 10px;
	width: 80%;
	max-width: 600px;
}

.workoutList {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 80%;
	max-width: 600px;
	max-width: 500px;
}

.workoutItem {
	font-size: 1.6rem;
	padding: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fafafa;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	color: black;
}

.workoutItem strong {
	font-weight: bold;
	color: var(--color-dark--0);
}

.calendar {
	width: 900px !important;
	max-width: 100%;
	background: white;
	border: 1px solid #a0a096;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.125em;
}

.calendar abbr[title] {
	color: var(--color-dark--2);
	font-size: 1.5rem;
	text-decoration: none !important;
	text-decoration: none !important;
}

.current-day {
	background-color: var(--color-brand--1) !important;
	color: white !important;
	border: 1px solid white !important;
	height: 70px !important;
	font-size: 2.5rem !important;
}

.workout-day {
	background-color: var(--color-brand--2) !important;
	color: white !important;
	border: 1px solid white !important;
	height: 70px !important;
	font-size: 2.5rem !important;
}

.workout-day:hover {
	background-color: var(--color-brand--2-hover);
}

.past-day {
	background-color: var(--color-light--1) !important;
	color: black !important;
	border: 1px solid white !important;
	height: 70px !important;
	font-size: 2.5rem !important;
}

.future-day {
	background-color: var(--color-light--3) !important;
	color: black !important;
	border: 1px solid white !important;
	height: 70px !important;
	font-size: 2.5rem !important;
}

.workoutBox {
	border: 1px solid #ccc;
	padding: 8px;
	margin-bottom: 16px;
	background-color: #f9f9f9;
	border-radius: 16px;
}

.workoutTitle {
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 8px;
	color: black;
}

.exerciseItem {
	margin-bottom: 16px;
}

.exerciseName {
	font-weight: bold;
	color: black;
}

.exerciseType {
	float: right;
	font-style: italic;
	color: var(--color-dark--2);
}

.exerciseInfo {
	margin-top: 4px;
	font-size: 0.9em;
	color: #555;
	color: var(--color-dark--0);
}

.container {
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
