.nav {
	display: flex;
	justify-content: space-between;
	width: 95%;
	max-width: var(--nav--max-width);
	margin-top: 10px;
}

.nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.nav a:link,
.nav a:visited {
	text-decoration: none;
	color: var(--color-light--2);
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
	color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
	background-color: var(--color-brand--2);
	color: var(--color-dark--0);
	padding: 0.8rem 2rem;
	border-radius: 7px;
}

@media (max-width: 660px) {
	.nav {
		flex-direction: column; /* Stack items vertically */
		align-items: center; /* Align items to the left */
		gap: 1rem;
	}

	.nav ul {
		flex-direction: column; /* Stack list items vertically */
		align-items: center;
		/* width: 100%; Optional: make the list fill the full width */
		text-align: center;
		gap: 1rem; /* Reduce gap between items if necessary */
	}

	.nav ul li {
		width: 100%; /* Make each item take full width (optional) */
		/* text-align: left; Align text to the left (optional) */
	}

	.nav a {
		font-size: 1.2rem; /* Adjust font size for smaller screens if needed */
	}
}
