.nav {
	display: flex;
	justify-content: space-between;
	width: 95%;
	max-width: var(--nav--max-width);
	text-align: center;
}

.nav ul {
	list-style: none;
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 0.75rem;
}

.nav a:link,
.nav a:visited {
	padding: 0.5rem;
	text-decoration: none;
	color: var(--color-light--2);
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 0.25rem;
}

.nav button {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--color-light--2);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.3rem 0.5rem;
	font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
	color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
	background-color: var(--color-brand--2);
	color: var(--color-dark--0);
	padding: 0.8rem 2rem;
	border-radius: 7px;
}

@media (max-width: 660px) {
	.nav {
		flex-direction: column; /* Stack items vertically */
		/* align-items: center; */
		/* text-align: center; */
		gap: 1rem;
	}

	.nav ul {
		flex-direction: column; /* Stack list items vertically */
		/* align-items: center; */
		/* width: 100%; Optional: make the list fill the full width */
		/* text-align: center; */
		gap: 1rem;
	}

	.nav ul li {
		/* justify-content: center; */
		text-align: center;
		/* width: 100%; */
	}

	.nav a {
		font-size: 1.2rem; /* Adjust font size for smaller screens if needed */
	}
	div a {
		margin: 0 !important;
	}
}
