.form_description {
	margin: 5px;
	font-size: 2.5rem;
	text-align: center;
}

.form {
	background-color: var(--color-dark--2);
	border-radius: 7px;
	padding: 2rem 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 1000px;
}

.row {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
}

.dropdown {
	color: black;
	font-size: 1.5rem;
}

.btn_bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn_create {
	background-color: var(--color-brand--2);
	border: none;
	font-size: 2rem;
	/* font-weight: bold; */
	/* border-radius: 50px; */
	border-radius: 7px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s ease;
	display: inline-block;
	background-color: var(--color-brand--2);
	color: var(--color-dark--1);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 5px;
	width: 100%;
}

.btn_create:hover {
	background-color: #00c469a5;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	margin: 5px 0 0 0;
}
